/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align contents to the left */
    padding-left: 20px; /* Adjust left padding */
    padding-right: 20px; /* Adjust right padding */
}

.banner {
    background-color: purple;
    color: white;
    text-align: center; /* Center align for banner */
    padding-left: 20px; /* Adjust left padding */
    margin-bottom: 20px;
    width: 100%;
}

.banner-title {
    font-size: 28px; /* Reduced font size */
    margin: 0;
    text-decoration: underline;
    padding-left: 600px; /* Adjust left padding */
    color: #ffcc00;
    font-style: italic;
    text-align: right; /* Center align the banner title */
}

.catch-phrase {
    font-style: italic;
    color: #666;
    font-size: 14px; /* Reduced font size */
    animation: moveLeftRight 10s linear infinite;
    padding-left: 400px; /* Adjust left padding */
    text-align: right; /* Align catch phrase to the left */
}

/* Animation for scrolling */
@keyframes moveLeftRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

/* Content container and form */
.content-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-top: 40px; /* Pushed down by additional 5 lines */
    margin-left: 0; /* Align with the left margin */
}

.left-section {
    width: 70%;
    padding: 0;
    margin-top: 0; /* No gap between sections */
}

.right-section {
    width: 30%;
    padding: 0;
    margin-top: 0; /* No gap between sections */
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Reduced margin */
}

.bold-label {
    font-weight: bold;
    margin-right: 10px; /* Reduced margin */
    font-size: 14px; /* Reduced font size */
}

label[for="stock-symbol"] {
    display: inline-block;
    width: 90px; /* Adjusted width */
    text-align: left;
    font-size: 14px; /* Reduced font size */
    margin-right: 2px; /* Adjusted margin */
}

input[type="date"] {
    padding: 8px;
    font-size: 14px; /* Reduced font size */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 8px; /* Reduced margin */
    width: 120px; /* Reduced width */
}

#stock-symbol {
    padding: 8px;
    font-size: 14px; /* Reduced font size */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 8px; /* Reduced margin */
     width: 400px !important; /* Force the width to 400px */
}

input[type="submit"] {
    background-color: #FF6347; /* Red */
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 12px; /* Adjusted padding */
    font-size: 14px; /* Reduced font size */
}

/* Table styles */
table {
    width: calc(100% - 20px); /* Shrink table width */
    border-collapse: collapse;
    margin-top: 20px;
    margin-right: 10px; /* Adjusted margin */
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px; /* Reduced font size */
}

th {
    background-color: #FF6347; /* Red */
    color: white;
    font-size: 14px; /* Reduced font size */
}

#pagination-controls {
    display: flex;
    justify-content: flex-end; /* Align pagination controls to the right */
    align-items: center; /* Align items vertically */
    margin-top: 20px;
    margin-right: 10px; /* Adjusted margin */
}

#pagination-controls button {
    background-color: #FF6347; /* Red */
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 12px; /* Adjusted padding */
    font-size: 14px; /* Reduced font size */
    margin: 0 4px; /* Reduced margin */
    border-radius: 5px; /* Matching submit button style */
}

#pagination-controls button:hover {
    background-color: #FF4500; /* Darker shade for hover effect */
}

#news-section {
    margin-top: 20px; /* Add margin-top to separate from "Useful Stock Screens" */
    width: 100%; /* Ensure the news section takes full width */
    max-width: 300px; /* Limit the width of the news section */
    padding: 0px; /* Add padding */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	align-items: center; /* Align items vertically */
}

#news-section .fancy-title {
    font-size: 16px; /* Increased font size */
    padding-bottom: 10px; /* Increased padding */
	align-items: center; /* Align items vertically */
}

#news-feed-container {
    max-height: 200px; /* Adjust height as needed */
    overflow: hidden;
    position: relative;
}

#news-feed li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-size: 14px; /* Reduced font size */
    font-weight: bold;
}

#news-feed li:nth-child(odd) a {
    color: red; /* Red color for odd headlines */
}

#news-feed li:nth-child(even) a {
    color: blue; /* Blue color for even headlines */
}

#news-feed a {
    text-decoration: none;
}

#news-feed a:hover {
    text-decoration: underline;
}

#news-feed {
    list-style: none;
    padding: 0;
    margin: 0;
    animation: scroll 7s linear infinite; /* Adjust duration as needed */
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%); /* Scroll through half of the duplicated content */
    }
}
#top-performers-section {
    margin-top: 20px; /* Add margin-top to separate from the news section */
    width: 100%; /* Ensure the top performers section takes full width */
    max-width: 300px; /* Limit the width of the top performers section */
    padding: 0px; /* Add padding */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#top-performers-section .fancy-title {
    font-size: 16px; /* Increased font size */
    padding-bottom: 10px; /* Increased padding */
    text-align: center; /* Center align the title */
    margin-top: 10px; /* Add margin above the title */
}

#top-performers-dropdown {
    margin-bottom: 20px;
}

#industry-dropdown {
    height: 40px;
}

#top-performers-dropdown label {
    font-size: 16px; /* Adjusted font size */
    color: blue;
}

/* Section title styles */
.fancy-title {
    color: red;
    text-decoration: underline;
    padding-bottom: 8px; /* Reduced padding */
    border-bottom: 2px solid red;
    margin-top: 0;
    font-size: 18px; /* Adjusted font size */
}

h2 {
    color: red;
    font-size: 18px; /* Adjusted font size */
}

/* Adjusting the appearance of the Select2 multi-select */
.select2-container--default .select2-selection--multiple {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: text;
    height: 40px; /* Adjust to match the date fields */
    display: flex;
    align-items: center;
    padding: 5px;
    width: 250px; /* Adjust width to be slightly broader than date fields */
}

.select2-container {
    width: 250px !important; /* Ensure the Select2 container respects the width */
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    display: inline;
    padding: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 3px 2px;
    padding: 3px 5px;
	 font-size: 12px; /* Reduced font size for selected values */
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    margin-left: 5px;
    font-size: 12px;
}

.select2-container--default .select2-selection--multiple .select2-search--inline {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.select2-container--default .select2-selection--multiple .select2-search__field {
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: auto !important;
}

/* Menu bar with five titles */
.menu-bar {
    background-color: brown;
    display: flex;
    justify-content: space-around;
    height: 40px;
    margin-bottom: 0px; /* Remove margin-bottom to eliminate space below menu bar */
    padding-top: 5px;
    padding-bottom: 0px; /* Remove padding-bottom */
    width: 100%;
    box-sizing: border-box;
}

.menu-title {
    font-size: 14px; /* Reduced font size */
    color: white;
    font-weight: bold;
    flex: 1;
    text-align: center;
}

/* New styles for the historical data section */
.historical-data-section {
    border: 2px solid #000;
    padding: 20px;
    margin-top: 10px; /* No gap between sections */
    text-align: left;
}

.section-caption {
    font-size: 16px; /* Adjusted font size */
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

#loading-message {
    display: none; /* Initially hidden */
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    z-index: 1000; /* Ensure it's above other content */
}

.time-container {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.new-sections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.section-box {
    flex: 1 1 calc(45% - 20px); /* Adjust width to fit sections neatly */
    background-color: #f5f5dc; /* Light brown background */
    padding: 10px; /* Increased padding */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.section-title {
    color: red;
    font-size: 14px; /* Increased font size */
    margin-bottom: 5px;
}

.useful-stock-screens {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px; /* Increased font size */
    background-color: #f5f5dc; /* Light brown background */
    text-align: left; /* Align text to the left */
}

.useful-stock-screens legend {
    font-size: 16px; /* Increased font size */
    color: red;
    font-weight: bold;
    text-decoration: underline; /* Underline the caption */
}

.new-sections-container a {
    color: blue;
    text-decoration: none;
}

.new-sections-container a:hover {
    text-decoration: underline;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align to the right */
    margin-top: 0; /* Remove top margin */
    width: 100%; /* Ensure the right section takes full width */
    max-width: 300px; /* Limit the width of the right section */
}

#news-section {
    margin-top: 20px; /* Add margin-top to separate from "Useful Stock Screens" */
    width: 100%; /* Ensure the news section takes full width */
    max-width: 300px; /* Limit the width of the news section */
    padding: 0px; /* Add padding */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#news-section .fancy-title {
    font-size: 16px; /* Increased font size */
    padding-bottom: 10px; /* Increased padding */
    text-align: center; /* Center align the title */
    margin-top: 10px; /* Add margin above the title */
}

/* New Section */
.NSE {
    border: 2px solid #000;
    padding: 20px; /* Increased padding */
    margin-top: 0; /* Reduced margin-top to move up */
    margin-bottom: 0; /* Remove bottom margin */
    width: 100%;
    min-height: 100px; /* Set a minimum height */
    background-color: #f9f9f9;
    box-sizing: border-box; /* Ensure the section fits within the container */
}

.NSE .section-caption {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.NSE .section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.NSE .section-box {
    flex: 1 1 calc(30% - 10px); /* Adjust width to fit sections neatly */
    background-color: #f5f5dc; /* Light brown background */
    padding: 10px; /* Increased padding */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border: 1px solid #ddd;
    font-size: 12px; /* Reduced font size */
}

.NSE .section-box h4 {
    margin-top: 0;
    font-size: 14px; /* Reduced font size */
}

.NSE .section-box ul {
    padding-left: 20px;
    margin: 0;
    font-size: 12px; /* Reduced font size */
}

.NSE .section-box ul li {
    margin-bottom: 5px;
}

.NSE .section-box ul li a {
    color: blue;
    text-decoration: none;
    font-size: 12px; /* Reduced font size */
}

.NSE .section-box ul li a:hover {
    text-decoration: underline;
}